<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getName()}">VALUE</p>
<p th:text="${'Год рождения: ' + person.getYearOfBirth()}">VALUE</p>
<br/><br/>

<div th:if="${not relatedBooks.isEmpty()}">
    <a>Взятые книги: </a>
    <div th:each="book : ${relatedBooks}">

        <div th:if="${ book.isOverdued()}">
            <a th:href="@{/books/{id}(id=${book.getId()})}"
               th:style="'color: red'"
               th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfCreation()}">user</a>
        </div>
        <div th:if="${ not book.isOverdued()}">
            <a th:href="@{/books/{id}(id=${book.getId()})}"
               th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfCreation()}">user</a>
        </div>
    </div>
    </div>

    <div th:if="${ relatedBooks.isEmpty() }">
        <a>Человек пока не взял ни одной книги</a>
    </div>


<br/><br/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<br/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
<br>

<form th:method="GET" th:action="@{/people}">
    <input type="submit" value="Вернуться к списку пользователей"/>
</form>
</body>
</html>