<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${book.getTitle()}">VALUE</p>
<p th:text="${'Автор: ' + book.getAuthor()}">VALUE</p>
<p th:text="${'Год создания: ' + book.getYearOfCreation()}">VALUE</p>

<br/><br/>

<div th:if="${relatedPerson != null }">
    <a >Эта книга взята: </a><a th:href="@{/people/{id}(id=${book.getOwner().getId()})}"
       th:text="${relatedPerson.getName() + ', ' + relatedPerson.getYearOfBirth()}">user</a>
    <br/>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}" th:object="${book}">
        <input type="submit" value="Освободить книгу"/></form>

</div>

<div th:if="${relatedPerson == null}">
    <a>Эта книга свободна</a>
    <br/>

    <form th:method="PATCH" th:action="@{/books/{id}/accept(id=${book.getId()})}" th:object="${book}">
        <label for="person">Выберите человека:</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}"
                    th:text="${person.getName()}"></option>
        </select>
        <input type="submit" value="Назначить книгу" />
    </form>
</div>

<br/><br/>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
<br/><br/>

<form th:method="GET" th:action="@{/books}">
    <input type="submit" value="Перейти к книгам"/>
</form>
</body>
</html>